html {
  background-color: #1e1e24;
  color: #fff8f0;
  line-height: 1.6;
  font-family: sans-serif;
}

body {
  width: 80%;
  padding: 0 3rem;
  margin: 0 auto;
}

p {
  font-size: 1.25rem;
}

figure {
  border: 2px solid #92140c;
  color: #92140c;
  background-color: #fdeeec;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1.75rem 0 0;
  box-sizing: border-box;
}

textarea {
  font-size: 1rem;
  width: 100%;
  height: 50vh;
  background-color: #fff8f0;
  color: #1e1e24;
  resize: vertical;
  font-family: sans-serif;
  line-height: 1.6;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  box-sizing: border-box;
}

small {
  font-size: 1rem;
  float: right;
}

.actions {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  gap: 1rem;
}

button {
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  border: none;
  margin-top: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}

button.primary {
  background-color: #92140c;
  color: #fff8f0;
}

button.secondary {
  background-color: #b1b1be;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.danger {
  color: red;
}
